@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-modal .ant-modal-content,
.ant-modal-title {
    color: white !important;
    background-color: #20212c !important;
}

input {
    outline: violet !important;
}

.columsex {

    border-radius: 10px;
    /* background: #635fc714; */
    /* border: 1px solid #635fc7; */
    /* border: 1px solid #fff; */

    /* border-right: 1px solid white !important; */
    /* border-left: 1px solid white !important; */

    padding: 30px;
    /* padding-right: 20px; */
    transition: 0.2s;
}

.columsex:hover {
    background-color: #2b2c3775;
}

.item {
    transition: 0.2s;
}

.item:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 4px 4px rgba(98, 95, 199, 0.405);
}